.light {
  --zinc: #f4f4f5;
  --gray: #f3f4f6;
  --red: #fee2e2;
  --orange: #ffedd5;
  --amber: #fef3c7;
  --yellow: #fef9c3;
  --brown: #f5f5f4;
  --auburn: #fef2f2;
  --lime: #ecfccb;
  --green: #dcfce7;
  --emerald: #d1fae5;
  --teal: #ccfbf1;
  --cyan: #cffafe;
  --sky: #e0f2fe;
  --blue: #dbeafe;
  --indigo: #e0e7ff;
  --violet: #ede9fe;
  --purple: #f3e8ff;
  --fuchsia: #fae8ff;
  --pink: #fce7f3;
  --rose: #ffe4e6;
}

.dark {
  --zinc: #3f3f46;
  --gray: #374151;
  --red: #450a0a;
  --orange: #431407;
  --amber: #451a03;
  --yellow: #422006;
  --brown: #1c1917;
  --auburn: #450a0a;
  --lime: #365314;
  --green: #14532d;
  --emerald: #064e3b;
  --teal: #134e4a;
  --cyan: #164e63;
  --sky: #0c4a6e;
  --blue: #1e3a8a;
  --indigo: #312e81;
  --violet: #4c1d95;
  --purple: #581c87;
  --fuchsia: #701a75;
  --pink: #831843;
  --rose: #881337;
}
