@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes progress-indeterminate {
  0% {
    transform: translateX(-100%) scaleX(0.5);
  }
  50% {
    transform: translateX(0%) scaleX(0.5);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}

.animate-progress-indeterminate {
  animation: progress-indeterminate 2s infinite linear;
}